# ROS2 build artifacts
build/
install/
log/

# Python cache
__pycache__/
*.pyc

# Local config & IDE
.vscode/
.DS_Store

# Research temporary data & Large files
*.csv
*.bag
*.db3
*.sqlite3
*.mcap
uwb_dataset_*/
my_uwb_demo_bag/
/tmp/
